.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

*.egg-info/

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/splits/*
!data/splits/.gitkeep

outputs/*
!outputs/models/
!outputs/models/classical/
!outputs/models/classical/.gitkeep
!outputs/models/autoencoder/
!outputs/models/autoencoder/.gitkeep
!outputs/metrics/
!outputs/metrics/.gitkeep
!outputs/logs/
!outputs/logs/.gitkeep
